# Project
.idea/
.vscode/
.code-workspace
data/*
git.diff

# Environment
.makeenv
.venv/
.env
venv/
docker-compose.override.yml
uv.lock
.tests

# Cache
__pycache__/
*.py[cod]
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage/

# Build
build/
_build/
dist/
site/
*.egg-info/
*.egg

# Deploy
*.service

# Keep examples
!*.example*